In [57]:
from itertools import islice
from matplotlib import pyplot as plt
import matplotlib.dates as mdates
import torch
from gluonts.evaluation import make_evaluation_predictions, Evaluator
from gluonts.dataset.repository.datasets import get_dataset
from gluonts.dataset.pandas import PandasDataset
import pandas as pd
import numpy as np
import sys, os

PROJ_DIR = "E:\Study\Lab\TimeSeriesAD\lag-llama-tuning\lag-llama"
sys.path.append(os.path.join(PROJ_DIR))
from lag_llama.gluon.estimator import LagLlamaEstimator

In [58]:
path = "./dataset/swat/SWaT_test.csv"
df_origin = pd.read_csv(
    path, usecols=[' Timestamp', 'LIT101', 'label'], index_col=0, parse_dates=True, dayfirst=True
)

In [59]:
for col in ['LIT101']:
    # 检查列的类型不是字符串类型
    if df_origin[col].dtype != 'object' and pd.api.types.is_string_dtype(df_origin[col]) == False:
        df_origin[col] = df_origin[col].astype('float32')

In [65]:
def window_splitter(input_data, lag_window, predict_window):
    # 评估时滑动步长为predict_window
    step = predict_window
    output_seq = []
    L = len(input_data)
    for i in range((L - lag_window) // step):
        use_seq = input_data[i*step : i*step + lag_window]
        use_seq.loc[:, ('item_id')] = i
        output_seq.append(use_seq)
    return output_seq

In [67]:
max_context_length_of_laglallma = 1092
predict_length = 6
context_length = predict_length*3
df_list = window_splitter(df_origin, max_context_length_of_laglallma, predict_length)

In [68]:
df_list

[                         LIT101  label  item_id
  Timestamp
 2015-12-28 10:00:00  522.846680      0        0
 2015-12-28 10:00:01  522.885986      0        0
 2015-12-28 10:00:02  522.846680      0        0
 2015-12-28 10:00:03  522.964478      0        0
 2015-12-28 10:00:04  523.474792      0        0
 ...                         ...    ...      ...
 2015-12-28 10:18:07  696.461670      0        0
 2015-12-28 10:18:08  697.089722      0        0
 2015-12-28 10:18:09  698.031799      0        0
 2015-12-28 10:18:10  698.385071      0        0
 2015-12-28 10:18:11  698.620605      0        0

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:00:06  524.102783      0        1
 2015-12-28 10:00:07  524.220581      0        1
 2015-12-28 10:00:08  524.495422      0        1
 2015-12-28 10:00:09  524.063599      0        1
 2015-12-28 10:00:10  524.102783      0        1
 ...                         ...    ...      ...
 2015-12-28 10:18:13  699.484070      0        1
 2015-12-28 10:18:14  700.072876      0        1
 2015-12-28 10:18:15  700.661682      0        1
 2015-12-28 10:18:16  701.525330      0        1
 2015-12-28 10:18:17  702.192627      0        1

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:00:12  523.435486      0        2
 2015-12-28 10:00:13  523.043030      0        2
 2015-12-28 10:00:14  522.729004      0        2
 2015-12-28 10:00:15  522.650513      0        2
 2015-12-28 10:00:16  522.689697      0        2
 ...                         ...    ...      ...
 2015-12-28 10:18:19  703.527222      0        2
 2015-12-28 10:18:20  704.194519      0        2
 2015-12-28 10:18:21  704.783325      0        2
 2015-12-28 10:18:22  705.529114      0        2
 2015-12-28 10:18:23  706.235596      0        2

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:00:18  522.650513      0        3
 2015-12-28 10:00:19  522.689697      0        3
 2015-12-28 10:00:20  522.729004      0        3
 2015-12-28 10:00:21  522.532715      0        3
 2015-12-28 10:00:22  522.885986      0        3
 ...                         ...    ...      ...
 2015-12-28 10:18:25  707.491699      0        3
 2015-12-28 10:18:26  708.198181      0        3
 2015-12-28 10:18:27  708.433777      0        3
 2015-12-28 10:18:28  709.297424      0        3
 2015-12-28 10:18:29  709.611389      0        3

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:00:24  523.671021      0        4
 2015-12-28 10:00:25  523.749573      0        4
 2015-12-28 10:00:26  523.828125      0        4
 2015-12-28 10:00:27  524.259827      0        4
 2015-12-28 10:00:28  524.142090      0        4
 ...                         ...    ...      ...
 2015-12-28 10:18:31  711.142212      0        4
 2015-12-28 10:18:32  711.220703      0        4
 2015-12-28 10:18:33  711.770325      0        4
 2015-12-28 10:18:34  712.319824      0        4
 2015-12-28 10:18:35  712.633911      0        4

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:00:30  524.652283      0        5
 2015-12-28 10:00:31  524.338318      0        5
 2015-12-28 10:00:32  524.534607      0        5
 2015-12-28 10:00:33  524.299072      0        5
 2015-12-28 10:00:34  524.299072      0        5
 ...                         ...    ...      ...
 2015-12-28 10:18:37  713.615112      0        5
 2015-12-28 10:18:38  714.164673      0        5
 2015-12-28 10:18:39  714.557190      0        5
 2015-12-28 10:18:40  715.106812      0        5
 2015-12-28 10:18:41  715.185181      0        5

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:00:36  524.456116      0        6
 2015-12-28 10:00:37  524.456116      0        6
 2015-12-28 10:00:38  524.848572      0        6
 2015-12-28 10:00:39  525.398193      0        6
 2015-12-28 10:00:40  525.319580      0        6
 ...                         ...    ...      ...
 2015-12-28 10:18:43  716.362915      0        6
 2015-12-28 10:18:44  717.226379      0        6
 2015-12-28 10:18:45  718.011475      0        6
 2015-12-28 10:18:46  718.443176      0        6
 2015-12-28 10:18:47  718.443176      0        6

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:00:42  525.672913      0        7
 2015-12-28 10:00:43  525.908386      0        7
 2015-12-28 10:00:44  525.790710      0        7
 2015-12-28 10:00:45  525.908386      0        7
 2015-12-28 10:00:46  525.712219      0        7
 ...                         ...    ...      ...
 2015-12-28 10:18:49  719.856323      0        7
 2015-12-28 10:18:50  720.209595      0        7
 2015-12-28 10:18:51  720.562927      0        7
 2015-12-28 10:18:52  720.484375      0        7
 2015-12-28 10:18:53  721.151672      0        7

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:00:48  525.319580      0        8
 2015-12-28 10:00:49  525.398193      0        8
 2015-12-28 10:00:50  525.594421      0        8
 2015-12-28 10:00:51  525.594421      0        8
 2015-12-28 10:00:52  525.398193      0        8
 ...                         ...    ...      ...
 2015-12-28 10:18:55  722.760986      0        8
 2015-12-28 10:18:56  723.428284      0        8
 2015-12-28 10:18:57  723.899414      0        8
 2015-12-28 10:18:58  723.742371      0        8
 2015-12-28 10:18:59  723.938599      0        8

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:00:54  525.672913      0        9
 2015-12-28 10:00:55  525.594421      0        9
 2015-12-28 10:00:56  525.594421      0        9
 2015-12-28 10:00:57  525.515930      0        9
 2015-12-28 10:00:58  525.515930      0        9
 ...                         ...    ...      ...
 2015-12-28 10:19:01  725.155518      0        9
 2015-12-28 10:19:02  725.783508      0        9
 2015-12-28 10:19:03  726.490112      0        9
 2015-12-28 10:19:04  726.921814      0        9
 2015-12-28 10:19:05  727.314270      0        9

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:01:00  525.515930      0       10
 2015-12-28 10:01:01  525.123413      0       10
 2015-12-28 10:01:02  525.201904      0       10
 2015-12-28 10:01:03  525.241089      0       10
 2015-12-28 10:01:04  524.809387      0       10
 ...                         ...    ...      ...
 2015-12-28 10:19:07  728.060181      0       10
 2015-12-28 10:19:08  728.688171      0       10
 2015-12-28 10:19:09  729.237671      0       10
 2015-12-28 10:19:10  729.865784      0       10
 2015-12-28 10:19:11  729.905029      0       10

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:01:06  524.024292      0       11
 2015-12-28 10:01:07  523.945801      0       11
 2015-12-28 10:01:08  523.828125      0       11
 2015-12-28 10:01:09  523.828125      0       11
 2015-12-28 10:01:10  524.142090      0       11
 ...                         ...    ...      ...
 2015-12-28 10:19:13  731.239624      0       11
 2015-12-28 10:19:14  731.239624      0       11
 2015-12-28 10:19:15  731.396729      0       11
 2015-12-28 10:19:16  731.946228      0       11
 2015-12-28 10:19:17  732.534973      0       11

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:01:12  524.613098      0       12
 2015-12-28 10:01:13  524.691589      0       12
 2015-12-28 10:01:14  524.456116      0       12
 2015-12-28 10:01:15  524.730896      0       12
 2015-12-28 10:01:16  524.691589      0       12
 ...                         ...    ...      ...
 2015-12-28 10:19:19  733.320007      0       12
 2015-12-28 10:19:20  733.633972      0       12
 2015-12-28 10:19:21  733.437805      0       12
 2015-12-28 10:19:22  734.105103      0       12
 2015-12-28 10:19:23  734.615417      0       12

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:01:18  525.241089      0       13
 2015-12-28 10:01:19  525.515930      0       13
 2015-12-28 10:01:20  525.319580      0       13
 2015-12-28 10:01:21  526.026184      0       13
 2015-12-28 10:01:22  526.497314      0       13
 ...                         ...    ...      ...
 2015-12-28 10:19:25  736.263977      0       13
 2015-12-28 10:19:26  736.185486      0       13
 2015-12-28 10:19:27  736.852783      0       13
 2015-12-28 10:19:28  736.852783      0       13
 2015-12-28 10:19:29  737.127625      0       13

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:01:24  527.203796      0       14
 2015-12-28 10:01:25  527.360779      0       14
 2015-12-28 10:01:26  527.478577      0       14
 2015-12-28 10:01:27  527.753418      0       14
 2015-12-28 10:01:28  528.224426      0       14
 ...                         ...    ...      ...
 2015-12-28 10:19:31  737.637817      0       14
 2015-12-28 10:19:32  739.011719      0       14
 2015-12-28 10:19:33  739.521973      0       14
 2015-12-28 10:19:34  739.875183      0       14
 2015-12-28 10:19:35  740.699524      0       14

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:01:30  528.028076      0       15
 2015-12-28 10:01:31  527.753418      0       15
 2015-12-28 10:01:32  527.439270      0       15
 2015-12-28 10:01:33  527.282288      0       15
 2015-12-28 10:01:34  527.282288      0       15
 ...                         ...    ...      ...
 2015-12-28 10:19:37  741.759277      0       15
 2015-12-28 10:19:38  742.505188      0       15
 2015-12-28 10:19:39  744.075317      0       15
 2015-12-28 10:19:40  744.860413      0       15
 2015-12-28 10:19:41  745.135071      0       15

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:01:36  526.811279      0       16
 2015-12-28 10:01:37  526.575684      0       16
 2015-12-28 10:01:38  525.869202      0       16
 2015-12-28 10:01:39  525.398193      0       16
 2015-12-28 10:01:40  525.084229      0       16
 ...                         ...    ...      ...
 2015-12-28 10:19:43  746.155701      0       16
 2015-12-28 10:19:44  746.666016      0       16
 2015-12-28 10:19:45  746.822998      0       16
 2015-12-28 10:19:46  747.529480      0       16
 2015-12-28 10:19:47  748.000488      0       16

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:01:42  524.456116      0       17
 2015-12-28 10:01:43  524.102783      0       17
 2015-12-28 10:01:44  524.063599      0       17
 2015-12-28 10:01:45  523.867310      0       17
 2015-12-28 10:01:46  523.474792      0       17
 ...                         ...    ...      ...
 2015-12-28 10:19:49  747.804321      0       17
 2015-12-28 10:19:50  748.314575      0       17
 2015-12-28 10:19:51  748.471619      0       17
 2015-12-28 10:19:52  748.785583      0       17
 2015-12-28 10:19:53  749.806213      0       17

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:01:48  523.435486      0       18
 2015-12-28 10:01:49  523.082275      0       18
 2015-12-28 10:01:50  523.160828      0       18
 2015-12-28 10:01:51  523.239319      0       18
 2015-12-28 10:01:52  523.513977      0       18
 ...                         ...    ...      ...
 2015-12-28 10:19:55  750.080872      0       18
 2015-12-28 10:19:56  750.473511      0       18
 2015-12-28 10:19:57  751.140686      0       18
 2015-12-28 10:19:58  751.768799      0       18
 2015-12-28 10:19:59  752.318420      0       18

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:01:54  524.220581      0       19
 2015-12-28 10:01:55  524.220581      0       19
 2015-12-28 10:01:56  524.063599      0       19
 2015-12-28 10:01:57  523.945801      0       19
 2015-12-28 10:01:58  523.474792      0       19
 ...                         ...    ...      ...
 2015-12-28 10:20:01  752.789429      0       19
 2015-12-28 10:20:02  753.221191      0       19
 2015-12-28 10:20:03  754.006226      0       19
 2015-12-28 10:20:04  754.163330      0       19
 2015-12-28 10:20:05  754.202515      0       19

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:02:00  523.828125      0       20
 2015-12-28 10:02:01  523.749573      0       20
 2015-12-28 10:02:02  524.063599      0       20
 2015-12-28 10:02:03  524.534607      0       20
 2015-12-28 10:02:04  524.534607      0       20
 ...                         ...    ...      ...
 2015-12-28 10:20:07  755.262329      0       20
 2015-12-28 10:20:08  755.694092      0       20
 2015-12-28 10:20:09  756.479126      0       20
 2015-12-28 10:20:10  756.950195      0       20
 2015-12-28 10:20:11  757.853027      0       20

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:02:06  525.594421      0       21
 2015-12-28 10:02:07  525.908386      0       21
 2015-12-28 10:02:08  525.986877      0       21
 2015-12-28 10:02:09  526.065491      0       21
 2015-12-28 10:02:10  526.065491      0       21
 ...                         ...    ...      ...
 2015-12-28 10:20:13  758.716614      0       21
 2015-12-28 10:20:14  759.423096      0       21
 2015-12-28 10:20:15  760.404419      0       21
 2015-12-28 10:20:16  760.993225      0       21
 2015-12-28 10:20:17  761.346497      0       21

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:02:12  527.164612      0       22
 2015-12-28 10:02:13  527.674805      0       22
 2015-12-28 10:02:14  527.557129      0       22
 2015-12-28 10:02:15  527.400085      0       22
 2015-12-28 10:02:16  526.850525      0       22
 ...                         ...    ...      ...
 2015-12-28 10:20:19  762.838074      0       22
 2015-12-28 10:20:20  763.583923      0       22
 2015-12-28 10:20:21  764.211975      0       22
 2015-12-28 10:20:22  765.153992      0       22
 2015-12-28 10:20:23  765.153992      0       22

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:02:18  526.261719      0       23
 2015-12-28 10:02:19  526.261719      0       23
 2015-12-28 10:02:20  525.594421      0       23
 2015-12-28 10:02:21  525.398193      0       23
 2015-12-28 10:02:22  524.887878      0       23
 ...                         ...    ...      ...
 2015-12-28 10:20:25  766.370789      0       23
 2015-12-28 10:20:26  766.841919      0       23
 2015-12-28 10:20:27  767.038086      0       23
 2015-12-28 10:20:28  767.509216      0       23
 2015-12-28 10:20:29  768.019470      0       23

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:02:24  524.887878      0       24
 2015-12-28 10:02:25  525.123413      0       24
 2015-12-28 10:02:26  525.201904      0       24
 2015-12-28 10:02:27  525.280396      0       24
 2015-12-28 10:02:28  525.319580      0       24
 ...                         ...    ...      ...
 2015-12-28 10:20:31  769.118530      0       24
 2015-12-28 10:20:32  769.275574      0       24
 2015-12-28 10:20:33  769.864319      0       24
 2015-12-28 10:20:34  770.296082      0       24
 2015-12-28 10:20:35  770.374573      0       24

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:02:30  525.476685      0       25
 2015-12-28 10:02:31  525.830017      0       25
 2015-12-28 10:02:32  525.790710      0       25
 2015-12-28 10:02:33  525.830017      0       25
 2015-12-28 10:02:34  525.869202      0       25
 ...                         ...    ...      ...
 2015-12-28 10:20:37  771.002686      0       25
 2015-12-28 10:20:38  771.630676      0       25
 2015-12-28 10:20:39  771.944824      0       25
 2015-12-28 10:20:40  772.768982      0       25
 2015-12-28 10:20:41  773.397095      0       25

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:02:36  525.908386      0       26
 2015-12-28 10:02:37  526.104675      0       26
 2015-12-28 10:02:38  526.261719      0       26
 2015-12-28 10:02:39  526.418823      0       26
 2015-12-28 10:02:40  526.301025      0       26
 ...                         ...    ...      ...
 2015-12-28 10:20:43  774.182129      0       26
 2015-12-28 10:20:44  774.692383      0       26
 2015-12-28 10:20:45  775.281311      0       26
 2015-12-28 10:20:46  775.869995      0       26
 2015-12-28 10:20:47  776.655090      0       26

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:02:42  525.869202      0       27
 2015-12-28 10:02:43  525.790710      0       27
 2015-12-28 10:02:44  525.280396      0       27
 2015-12-28 10:02:45  525.084229      0       27
 2015-12-28 10:02:46  525.005615      0       27
 ...                         ...    ...      ...
 2015-12-28 10:20:49  777.636414      0       27
 2015-12-28 10:20:50  778.303711      0       27
 2015-12-28 10:20:51  779.049500      0       27
 2015-12-28 10:20:52  779.442017      0       27
 2015-12-28 10:20:53  779.638306      0       27

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:02:48  525.476685      0       28
 2015-12-28 10:02:49  525.476685      0       28
 2015-12-28 10:02:50  525.712219      0       28
 2015-12-28 10:02:51  525.869202      0       28
 2015-12-28 10:02:52  526.183228      0       28
 ...                         ...    ...      ...
 2015-12-28 10:20:55  780.384094      0       28
 2015-12-28 10:20:56  780.776611      0       28
 2015-12-28 10:20:57  781.404724      0       28
 2015-12-28 10:20:58  781.561584      0       28
 2015-12-28 10:20:59  782.228882      0       28

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:02:54  526.614990      0       29
 2015-12-28 10:02:55  526.575684      0       29
 2015-12-28 10:02:56  526.654175      0       29
 2015-12-28 10:02:57  526.811279      0       29
 2015-12-28 10:02:58  527.203796      0       29
 ...                         ...    ...      ...
 2015-12-28 10:21:01  783.367310      0       29
 2015-12-28 10:21:02  783.642090      0       29
 2015-12-28 10:21:03  784.230774      0       29
 2015-12-28 10:21:04  784.741089      0       29
 2015-12-28 10:21:05  785.015930      0       29

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:03:00  527.557129      0       30
 2015-12-28 10:03:01  527.831787      0       30
 2015-12-28 10:03:02  527.831787      0       30
 2015-12-28 10:03:03  528.342102      0       30
 2015-12-28 10:03:04  528.263611      0       30
 ...                         ...    ...      ...
 2015-12-28 10:21:07  786.271973      0       30
 2015-12-28 10:21:08  786.742981      0       30
 2015-12-28 10:21:09  787.057129      0       30
 2015-12-28 10:21:10  787.959778      0       30
 2015-12-28 10:21:11  788.627075      0       30

 [1092 rows x 3 columns],
                          LIT101  label  item_id
  Timestamp
 2015-12-28 10:03:06  528.067383      0       31
 2015-12-28 10:03:07  528.067383      0       31
 2015-12-28 10:03:08  528.342102      0       31
 2015-12-28 10:03:09  528.420715      0       31
 2015-12-28 10:03:10  528.185120      0       31
 ...                         ...    ...      ...
 2015-12-28 10:21:13  789.490723      0       31
 2015-12-28 10:21:14  790.040283      0       31
 2015-12-28 10:21:15  790.040283      0       31
 2015-12-28 10:21:16  790.707581      0       31

In [69]:
print(len(df_list))
print(df_list[-1])

74804
                         LIT101  label  item_id
 Timestamp
2016-01-02 14:41:39  504.712006      0    74803
2016-01-02 14:41:40  505.065186      0    74803
2016-01-02 14:41:41  504.672699      0    74803
2016-01-02 14:41:42  504.790497      0    74803
2016-01-02 14:41:43  504.437195      0    74803
...                         ...    ...      ...
2016-01-02 14:59:46  516.644775      0    74803
2016-01-02 14:59:47  516.487793      0    74803
2016-01-02 14:59:48  516.370117      0    74803
2016-01-02 14:59:49  516.566284      0    74803
2016-01-02 14:59:50  516.801819      0    74803

[1092 rows x 3 columns]

In [70]:
def get_lag_llama_predictions(dataset, prediction_length, num_samples=100):
    ckpt = torch.load(
        "../content/lag-llama.ckpt", map_location=torch.device("cuda:0")
    )  # Uses GPU since in this Colab we use a GPU.
    estimator_args = ckpt["hyper_parameters"]["model_kwargs"]

    estimator = LagLlamaEstimator(
        ckpt_path="../content/lag-llama.ckpt",
        prediction_length=prediction_length,
        context_length=32,  # Should not be changed; this is what the released Lag-Llama model was trained with
        # estimator args
        input_size=estimator_args["input_size"],
        n_layer=estimator_args["n_layer"],
        n_embd_per_head=estimator_args["n_embd_per_head"],
        n_head=estimator_args["n_head"],
        scaling=estimator_args["scaling"],
        time_feat=estimator_args["time_feat"],
        batch_size=1,
        num_parallel_samples=100,
    )

    lightning_module = estimator.create_lightning_module()
    transformation = estimator.create_transformation()
    predictor = estimator.create_predictor(transformation, lightning_module)

    forecast_it, ts_it = make_evaluation_predictions(
        dataset=dataset, predictor=predictor, num_samples=num_samples
    )
    forecasts = list(forecast_it)
    tss = list(ts_it)
    return forecasts, tss

In [85]:
long_seq = pd.concat(df_list)

In [86]:
print(type(long_seq))
print(long_seq)

<class 'pandas.core.frame.DataFrame'>
                         LIT101  label  item_id
 Timestamp
2015-12-28 10:00:00  522.846680      0        0
2015-12-28 10:00:01  522.885986      0        0
2015-12-28 10:00:02  522.846680      0        0
2015-12-28 10:00:03  522.964478      0        0
2015-12-28 10:00:04  523.474792      0        0
...                         ...    ...      ...
2016-01-02 14:59:46  516.644775      0    74803
2016-01-02 14:59:47  516.487793      0    74803
2016-01-02 14:59:48  516.370117      0    74803
2016-01-02 14:59:49  516.566284      0    74803
2016-01-02 14:59:50  516.801819      0    74803

[81685968 rows x 3 columns]

In [90]:
dataset = PandasDataset.from_long_dataframe(long_seq, target="LIT101", item_id="item_id")

In [91]:
num_samples = 100
forecasts, tss = get_lag_llama_predictions(dataset, predict_length, num_samples)

In [ ]:
# for idx, (forecast, ts) in islice(enumerate(zip(forecasts, tss)),len(forecasts)):
#     forecast.plot(color='g', name="predict")  # 绘制预测结果
#     plt.xticks(rotation=60)  # x 轴标签旋转 60 度
#     plt.gcf().autofmt_xdate()
#     plt.gca().xaxis.set_major_formatter(mdates.DateFormatter('%Y-%m'))